.header {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 16px 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-bottom: #E9ECF612 1px solid;

  &__back,
  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      filter: brightness(0.5);
    }
  }

  &__back {
    left: 11px;
  }

  &__close {
    right: 11px;
  }
}