.item {
  &__inputs {
    padding: 12px 14px;
  }

  &__label {
    color: #FFFFFFA6;
    font-size: 9px;
  }

  &__inputblock {
    width: 100%;
    border-radius: 8px;
    background: #FFFFFF12;
    border: 1px solid #E9ECF612;
    padding: 8px 12px 0;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__input {
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 10px;
    width: 100%;
    padding: 8px 0;
  }
}