@use '../../styles/mixins';

.styles {
  &__block {
    color: #ffffff;
    padding: 12px 14px;
  }

  &__label {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 700;
  }

  &__items {
    display: flex;
    gap: 8px;
    height: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    flex-grow: 1;

    @include mixins.clickable;
  }

  &__item_active {
    background: #FFFFFF0D;
  }
}