.body {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #333333B2;
  width: 280px;
  border-radius: 16px;
  animation: come-from-right 500ms ease-out forwards;
}

@keyframes come-from-right {
  from {
    opacity: 0;
    transform: translate(-30%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}