@use '../styles/mixins';

.sections {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%;

  &__section {
    margin-top: 190px;
  }

  &__header {
    color: #ffffff;
    font-size: 40px;
    text-align: center;

    @include mixins.clickable;
  }

  &__items {
    margin-top: 50px;
  }
}