.tagline {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%;

  &__header {
    margin-top: 190px;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.5);
    }
  }

  &__taglines {
    margin-top: 50px;
    width: 300px;
  }
}