.tagline {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262624;
  padding: 15% 20% 0;

  &__header {
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.5);
    }
  }
}