@font-face {
    font-family: 'Circular Std';
    src:
      url('./assets/fonts/circular-std-medium-500.woff2') format('woff2'),
      url('./assets/fonts/circular-std-medium-500.woff') format('woff');
    font-weight: 500;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Circular Std', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
